<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="YTRecap" />
    <meta
      property="og:description"
      content="Generate a summary of any YouTube video in seconds"
    />
    <meta
      property="og:image"
      content="https://user-images.githubusercontent.com/57879193/230733719-47c4d135-61c9-415b-8115-f1902c4cc64c.png"
    />
    <meta
      name="twitter:image"
      content="https://user-images.githubusercontent.com/57879193/230733719-47c4d135-61c9-415b-8115-f1902c4cc64c.png"
    />
    <title>YTRecap</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/brands.min.css"
    />

    <link rel="stylesheet" href="/../static/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="../static/dark-theme.css"
      id="dark-theme"
      disabled
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <link rel="icon" href="/../static/recap.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <div class="icon-container">
      <div
        id="dark-mode-toggle"
        class="toggle-container-lm animate__animated animate__fadeIn"
      >
        <i id="dark-mode-icon" class="fas fa-moon"></i>
      </div>
      <!-- info container to be added soon -->
      <!-- <div
        class="toggle-container-info animate__animated animate__fadeIn"
        onClick="showInfo()"
      >
        <i class="fa fa-question-circle"></i> -->
        <div class="info-container">
          <p>This is some information.</p>
        </div>
      </div>
    </div>
    <div class="github-container">
      <a
        href="https://github.com/nicktill/ytrecap"
        target="_blank"
        rel="noopener noreferrer"
        class="github-button animate__animated animate__fadeIn"
      >
        <i class="fab fa-github"></i>
        Star on GitHub
      </a>
    </div>
    <div class="header">
      <a href="/">
        <h1 class="animate__animated animate__backInDown logo">
          YTRecap <img src="../static/recap.svg" alt="yt-logo" />
        </h1>
      </a>
    </div>
    <div class="loader" id="loader"></div>
    <form method="POST">
      <div class="form-container">
        <div class="animate__animated animate__fadeIn logo input-url-container">
          <input
            type="text"
            name="url"
            placeholder="Enter a YouTube URL"
            autocomplete="off"
          />
        </div>
        <div class="select-button-container">
          <button
            type="submit"
            class="animate__animated animate__lightSpeedInLeft summarize-button"
          >
            Summarize
          </button>
          <div class="select-container">
            <select
              class="animate__animated animate__lightSpeedInRight"
              id="first-length-select"
              name="summary_length"
              type="number"
              required
            >
              <option class="option_length" value="100">Very Short</option>
              <option class="option_length" value="200">Short</option>
              <option class="option_length" value="300" selected>Medium</option>
              <option class="option_length" value="400">Long</option>
              <option class="option_length" value="500">Very Long</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    {% if video_info %}
    <div class="video-info animate__animated animate__fadeInDown">
      <iframe
        src="https://www.youtube.com/embed/{{ video_id }}"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <h2>{{ video_info['title'] }}</h2>
      <p>Author: {{ video_info['author'] }}</p>
      <p>Published On: {{ video_info['date'] }}</p>
      <p>Views: {{ video_info['view_count'] }}</p>
    </div>
    {% endif %} {% if summary %}
    <div class="summary-container animate__animated animate__fadeInUp">
      <h2 class="summary-heading">Summary:</h2>
        <select
          class="animate__animated animate__lightSpeedInRight"
          id="second-length-select"
          name="summary_length"
          type="number"
          required
        >
          <option class="option_length" selected disabled>
            Change Length Of Summary
          </option>
          <option class="option_length" value="100">Very Short</option>
          <option class="option_length" value="200">Short</option>
          <option class="option_length" value="300">Medium</option>
          <option class="option_length" value="400">Long</option>
          <option class="option_length" value="500">Very Long</option>
        </select>
        <input
          id="placeholder"
          type="text"
          name="url"
          value="https://www.youtube.com/watch?v={{ video_id }}"
        />
      <div class="summary-wrapper">
        <p class="summary-text">{% if summary %}{{ summary }}{% endif %}</p>
        <div class="loader" id="summary-loader" style="display: none"></div>
      </div>
      <div class="button-container"></div>
    </div>
    {% endif %} {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <!-- loading animation -->
    <script>
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          // Show the loader
          document.getElementById("loader").style.display = "block";
        });
    </script>
  </body>
  <script>
    const darkModeToggle = document.getElementById("dark-mode-toggle");
    const darkModeIcon = document.getElementById("dark-mode-icon");
    const darkThemeStylesheet = document.getElementById("dark-theme");

    function enableDarkMode() {
      darkThemeStylesheet.disabled = false;
      localStorage.setItem("darkMode", "enabled");
      document.querySelector(".github-button").classList.add("dark-mode");
      darkModeIcon.classList.remove("fa-moon");
      darkModeIcon.classList.add("fa-sun");
    }

    function disableDarkMode() {
      darkThemeStylesheet.disabled = true;
      localStorage.setItem("darkMode", "disabled");
      document.querySelector(".github-button").classList.remove("dark-mode");
      darkModeIcon.classList.remove("fa-sun");
      darkModeIcon.classList.add("fa-moon");
    }

    function toggleDarkMode() {
      if (darkThemeStylesheet.disabled) {
        enableDarkMode();
      } else {
        disableDarkMode();
      }
    }

    darkModeToggle.addEventListener("click", toggleDarkMode);

    // Initialize the user's theme preference
    const darkModeSetting = localStorage.getItem("darkMode");
    if (darkModeSetting === "enabled") {
      enableDarkMode();
    } else {
      disableDarkMode();
    }

    /* Make it shorter/longer feature */
    document
      .getElementById("second-length-select")
      .addEventListener("change", function () {
        event.preventDefault();
        updateSummary();
    document
      .getElementById("second-length-select")
      .addEventListener("change", function () {
        event.preventDefault();
        updateSummary();
      });

    async function updateSummary() {
      const summaryTextElement = document.querySelector(".summary-text");
      const summaryLoaderElement = document.getElementById("summary-loader");

      // Hide the summary text and show the loader
      summaryTextElement.style.display = "none";
      summaryLoaderElement.style.display = "block";

      // Get the selected summary length and the video URL
      const summaryLength = document.getElementById(
        "second-length-select"
      ).value;
      const videoUrl = document.getElementById("placeholder").value;

      try {
        // Make the AJAX request to the server (app.py)
        const response = await fetch("/getNewLengthSummary", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({
            url: videoUrl,
            summary_length: summaryLength,
          }),
        });

        const data = await response.json();

        // Update the summary text with the new summary
        summaryTextElement.textContent = data.summary;
      } catch (error) {
        console.error("Error:", error);
      } finally {
        // Hide the loader and show the summary text
        summaryLoaderElement.style.display = "none";
        summaryTextElement.style.display = "block";
      }
    }
  </script>
</html>