<!DOCTYPE html>
<html>
  <head>
    <title>YTRecap</title>
    <link rel="stylesheet" href="/../static/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="../static/dark-theme.css"
      id="dark-theme"
      disabled
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <!-- add favicon youtube.png -->
    <link rel="icon" href="/../static/recap.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="toggle-container">
        <i id="dark-mode-toggle" class="fas fa-moon"></i>
      </div>
      <h1 class="logo">
        YTRecap
        <img src="../static/youtube.png" alt="yt-logo" />
      </h1>
    </div>
    <div class="hero">
      <h1 class="hero-heading">Enter A YT Link To Summarize...</h1>
    </div>
    <div class="loader" id="loader"></div>
    <form method="POST">
      <input
        type="text"
        name="url"
        placeholder="Enter a YouTube URL"
        autocomplete="off"
      />
      <div class="select-container">
        <select
          aria-placeholder="Summary Length"
          className="summary_length"
          name="summary_length"
          type="number"
          required
        >
          <option class="option_length" value="" disabled selected>⬇</option>
          <option class="option_length" value="200">Short</option>
          <option class="option_length" value="500">Medium</option>
          <option class="option_length" value="1000">Long</option>
        </select>
      </div>
      <input type="submit" value="Go" />
    </form>

    {% if video_info %}
    <div class="video-container">
      <div class="video-info">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/{{ video_id }}"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <h2>{{ video_info['title'] }}</h2>
        <p>Author: {{ video_info['author'] }}</p>
        <p>Published On: {{ video_info['date'] }}</p>
        <p>Views: {{ video_info['view_count'] }}</p>
      </div>
    </div>
    {% endif %} {% if summary %}
    <div class="summary-container">
      <h2 class="summary-heading">Summary:</h2>
      <p class="summary-text">{{ summary }}</p>
      <div class="button-container"></div>
    </div>

    {% endif %} {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <!-- loading animation -->
    <script>
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          // Show the loader
          document.getElementById("loader").style.display = "block";
        });
    </script>
  </body>
  <script>
    const darkModeToggle = document.getElementById("dark-mode-toggle");
    const darkThemeStylesheet = document.getElementById("dark-theme");
    function enableDarkMode() {
      darkThemeStylesheet.disabled = false;
      localStorage.setItem("darkMode", "enabled");
    }

    function disableDarkMode() {
      darkThemeStylesheet.disabled = true;
      localStorage.setItem("darkMode", "disabled");
    }

    function toggleDarkMode() {
      if (darkThemeStylesheet.disabled) {
        enableDarkMode();
      } else {
        disableDarkMode();
      }
    }

    darkModeToggle.addEventListener("click", toggleDarkMode);

    // Initialize the user's theme preference
    const darkModeSetting = localStorage.getItem("darkMode");
    if (darkModeSetting === "enabled") {
      enableDarkMode();
    } else {
      disableDarkMode();
    }
  </script>
</html>
