<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="YTRecap" />
    <meta
      property="og:description"
      content="Generate a summary of any YouTube video in seconds"
    />
    <meta
      property="og:image"
      content="https://user-images.githubusercontent.com/57879193/230733719-47c4d135-61c9-415b-8115-f1902c4cc64c.png"
    />
    <meta
      name="twitter:image"
      content="https://user-images.githubusercontent.com/57879193/230733719-47c4d135-61c9-415b-8115-f1902c4cc64c.png"
    />
    <title>YTRecap</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/brands.min.css"
    />

    <link rel="stylesheet" href="/../static/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="../static/dark-theme.css"
      id="dark-theme"
      disabled
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <link rel="icon" href="/../static/recap.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <div class="icon-container">
      <div id="dark-mode-toggle" class="toggle-container-lm">
        <i id="dark-mode-icon" class="fas fa-moon"></i>
      </div>
      <div class="toggle-container-info">
        <i class="fa fa-question-circle"></i>
      </div>
    </div>
    <div class="github-container">
      <a
        href="https://github.com/nicktill/ytrecap"
        target="_blank"
        rel="noopener noreferrer"
        class="github-button"
      >
        <i class="fab fa-github"></i>
        Star on GitHub
      </a>
    </div>
    <div class="header">
      <a href="/">
        <h1 class="animate__animated animate__backInDown logo">
          YTRecap <img src="../static/recap.svg" alt="yt-logo" />
        </h1>
      </a>
    </div>
    <div class="loader" id="loader"></div>
    <form method="POST">
      <div class="form-container">
        <div class="animate__animated animate__fadeIn logo input-url-container">
          <input
            type="text"
            name="url"
            placeholder="Enter a YouTube URL"
            autocomplete="off"
          />
        </div>
        <div class="select-button-container">
          <button
            type="submit"
            class="animate__animated animate__lightSpeedInLeft summarize-button"
          >
            Summarize
          </button>
          <div class="select-container">
            <select
              class="animate__animated animate__lightSpeedInRight"
              id="first-length-select"
              name="summary_length"
              type="number"
              required
            >
              <option class="option_length" value="100">Short</option>
              <option class="option_length" value="200" selected>Medium</option>
              <option class="option_length" value="300">Long</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    {% if video_info %}
    <div class="video-info animate__animated animate__fadeInDown">
      <iframe
        src="https://www.youtube.com/embed/{{ video_id }}"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <h2>{{ video_info['title'] }}</h2>
      <p>Author: {{ video_info['author'] }}</p>
      <p>Published On: {{ video_info['date'] }}</p>
      <p>Views: {{ video_info['view_count'] }}</p>
    </div>
    {% endif %} {% if summary %}
    <div class="summary-container animate__animated animate__fadeInUp">
      <h2 class="summary-heading">Summary:</h2>
      <form id="lengthForm" name="length-form" method="POST">
        <select
          class="animate__animated animate__lightSpeedInRight"
          id="second-length-select"
          name="summary_length"
          type="number"
          onchange="submitForm()"
          required
        >
          <option class="option_length" selected disabled>
            Adjust Summary Length
          </option>
          <option class="option_length" value="100">Short</option>
          <option class="option_length" value="200">Medium</option>
          <option class="option_length" value="300">Long</option>
        </select>
        <input
          id="placeholder"
          type="text"
          name="url"
          value="https://www.youtube.com/watch?v={{ video_id }}"
        />
      </form>
      <p class="summary-text">{{ summary }}</p>
      <div class="button-container"></div>
    </div>
    {% endif %} {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <!-- session storage and loading animation -->
    <script>
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          // session storage for the selected length
          const selectElement = document.getElementById("first-length-select");
          sessionStorage.setItem("selectedLength", selectElement.value);
          // Show the loader
          document.getElementById("loader").style.display = "block";
        });
    </script>
  </body>
  <script>
    const darkModeToggle = document.getElementById("dark-mode-toggle");
    const darkModeIcon = document.getElementById("dark-mode-icon");
    const darkThemeStylesheet = document.getElementById("dark-theme");

    function enableDarkMode() {
      darkThemeStylesheet.disabled = false;
      localStorage.setItem("darkMode", "enabled");
      document.querySelector(".github-button").classList.add("dark-mode");
      darkModeIcon.classList.remove("fa-moon");
      darkModeIcon.classList.add("fa-sun");
    }

    function disableDarkMode() {
      darkThemeStylesheet.disabled = true;
      localStorage.setItem("darkMode", "disabled");
      document.querySelector(".github-button").classList.remove("dark-mode");
      darkModeIcon.classList.remove("fa-sun");
      darkModeIcon.classList.add("fa-moon");
    }

    function toggleDarkMode() {
      if (darkThemeStylesheet.disabled) {
        enableDarkMode();
      } else {
        disableDarkMode();
      }
    }

    darkModeToggle.addEventListener("click", toggleDarkMode);

    // Initialize the user's theme preference
    const darkModeSetting = localStorage.getItem("darkMode");
    if (darkModeSetting === "enabled") {
      enableDarkMode();
    } else {
      disableDarkMode();
    }

    /* Make it shorter/longer feature */
    // session storage for second-length-select element: applied to the select in the summary region
    // both on first submission and later submissions
    const selectElement = document.getElementById("second-length-select");
    const selectedValue = sessionStorage.getItem("selectedLength");
    if (selectedValue) {
      // show the selected option
      const selectionOption = document.querySelector(
        `#second-length-select option[value="${selectedValue}"]`
      );
      selectionOption.selected = true;
      const otherOptions = document.querySelectorAll(
        '#second-length-select option:not([value="' + selectedValue + '"])'
      );
      otherOptions.forEach((option) => {
        option.selected = false;
      });
    }

    function submitForm() {
      const selectElement = document.getElementById("second-length-select");
      sessionStorage.setItem("selectedLength", selectElement.value);
      document.getElementById("lengthForm").submit();
    }
  </script>
</html>
