<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Caption Summarizer</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <h1>YouTube Caption Summarizer</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
      <input type="text" name="url" placeholder="Enter a YouTube URL" />
      <input type="submit" value="Go" />
    </form>
    {% if summary %}
    <h2 class="summary-heading">Summary:</h2>
    <p class="summary-text">{{ summary }}</p>
    {% endif %}
  </body>
</html>
