<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Caption Summarizer</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>YTRecap</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
      <input type="text" name="url" placeholder="Enter a YouTube URL" />
      <input type="submit" value="Go" />
    </form>
    {% if summary %}
    <h2 class="summary-heading">Summary:</h2>
    <p class="summary-text">{{ summary }}</p>
    {% endif %}
  </body>
</html>
