body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: center;
  size: 24px;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.toggle-container {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.logo img {
  height: 36px;
  margin-left: 10px;
}

.loader {
  display: none;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: #db3434;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #db3434;
    border-bottom-color: #db3434;
  }
}

.summarize-button {
  background-color: #db3434;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  transition: all 0.3s ease;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-url-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 350px;
}
.select-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 15px;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
}

.select-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ccc;
  background-color: transparent;
  color: gray;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.summary-text {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.option_length {
  background-color: #676767;
  display: flex;
  text-align: center;
}

.video-container,
.summary-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.video-info {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.video-info h2,
.video-info p {
  margin: 10px 0;
}

.summary-heading {
  margin-top: 0;
  align-items: center;
}

.summary-heading h2 {
  margin-bottom: 20px;
}

.summary-text {
  text-align: center;
  line-height: 1.6;
}

.video-info iframe {
  max-width: 100%;
}

/* common styles */

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .video-info,
  .summary-container {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    flex-direction: column;
  }

  .toggle-container {
    position: absolute;
    margin-top: 10px;
    align-items: right;
    display: flex;
  }

  .logo {
    margin-top: 10px;
  }

  .form-container {
    width: 100%;
    padding: 0 10px;
  }

  input[type="text"] {
    max-width: 100%;
  }

  .select-container {
    display: none;
  }
}

/* other styles */
