aiofiles==22.1.0
aiosqlite==0.18.0
anaconda-client==1.11.0
anaconda-navigator==2.3.1
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
arrow==1.2.3
asttokens==2.2.1
atomicwrites==1.4.0
attrs==22.2.0
Babel==2.12.1
backports.weakref==1.0.post1
bkcharts==0.2
bleach==5.0.1
brotlipy==0.7.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
clyent==1.2.2
comm==0.1.2
conda==22.9.0
conda-build==3.22.0
conda-repo-cli==1.0.20
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.6.0
dask==2023.3.0
datashape==0.5.4
DateTime==5.1
debugpy==1.6.5
distributed==2023.3.0
et-xmlfile==1.1.0
executing==1.2.0
Flask==2.2.3
fonttools==4.25.0
fqdn==1.5.1
google-api-core==2.11.0
google-api-python-client==2.81.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.10.2
inflection==0.5.1
ipykernel==6.20.2
ipython==8.8.0
ipywidgets==8.0.4
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==7.4.9
jupyter_core==5.1.3
jupyter_server==2.1.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
llvmlite==0.38.0
load-dotenv==0.1.0
MarkupSafe==2.1.2
mistune==2.0.4
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.8
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.2
openai==0.25.0
openpyxl==3.0.10
packaging==23.0
pandas==1.4.4
pandas-stubs==1.5.3.230227
patsy==0.5.2
pep8==1.7.1
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.2
ply==3.11
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==4.22.1
psutil==5.9.4
pure-eval==0.2.2
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.45.1
PyDispatcher==2.0.5
Pygments==2.14.0
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
pyrsistent==0.19.3
pytest==7.1.2
python-dotenv==1.0.0
python-json-logger==2.0.4
python-lsp-jsonrpc==1.0.0
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
queuelib==1.5.0
regex==2022.10.31
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn-intelex==2021.20221004.121333
scipy==1.9.1
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.6.2
TBB==0.2
terminado==0.17.1
tinycss2==1.2.1
tornado==6.2
traitlets==5.8.1
types-pytz==2022.7.1.2
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.3
widgetsnbextension==4.0.5s
y-py==0.5.9
youtube-transcript-api==0.5.0
ypy-websocket==0.8.2
zict==2.1.0
zipp==3.11.0
